<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

	<ext:property-placeholder />

	<bean id="skysailApp"
		class="de.twenty11.skysail.server.ext.notes.NotesApplication"
		>
		<!-- <property name="componentProvider" ref="componentProviderRef" /> -->
		<property name="entityManager" ref="emfRef" />
		<property name="serverConfiguration" ref="serverConfig" />
	</bean>

	<service ref="skysailApp"
		interface="de.twenty11.skysail.server.services.ApplicationProvider" />

	<!-- <reference id="componentProviderRef"
		interface="de.twenty11.skysail.server.services.ComponentProvider" /> -->

	<reference id="emfRef" interface="javax.persistence.EntityManagerFactory"
		filter="(osgi.unit.name=NotesPU)" />
		
	<!-- ext:proxy-method="classes" -->	
	<reference id="serverConfig" interface="de.twenty11.skysail.server.config.ServerConfiguration" 
	   
	/>	

</blueprint>

