<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0"
	name="de.twenty11.skysail.server.ext.osgimonitor">
	<service>
      <provide interface='org.osgi.service.cm.ManagedService'/>
    </service>
    <property name='service.pid' value='de.twenty11.skysail.server.ext.osgimonitor'/>
    
	<implementation
		class="de.twenty11.skysail.server.ext.osgimonitor.internal.Configuration" />
	<reference bind="setApplicationProvider" cardinality="0..n" 
		interface="de.twenty11.skysail.server.services.ApplicationProvider" name="ApplicationProvider" policy="dynamic" unbind="unsetApplicationProvider"/>
 <reference bind="setComponentProvider" cardinality="1..1" interface="de.twenty11.skysail.server.services.ComponentProvider" name="ComponentProvider" policy="static"/>
</scr:component>
